body {
  background-color: black;
  color: rgb(0, 0, 0);
  margin: 0;
  font-family: sans-serif;
}


.logo-container{
  
  margin-top:300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.logo{
  width:300px;
  height:auto;
  float:center;
  margin-left:220px;
  opacity:0.99;
}
.logo-text{
  color: aliceblue;
  font-size:35px;
  text-align: center;
  margin-top:50px;
}


.home {
  float:right;
}
.menu {
  float:right;
  font-size:20px;
  text-align:center;
  margin-top:1px;
  
}
.menu a{
  margin-right:10px;
}


